@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Robto', sans-serif;    
    font-weight: 600;
    font-size: 20pt;
    z-index: -1;
    overflow: hidden;
    
}
#checkbox01:not(checked) ~ .Name01{
    color: #768BAD;
    display: flex;
    justify-content: center;
    transform: translateY(-300px);   
        
}
#checkbox01:not(checked) ~ .Name02{
    color: #768BAD;
    display: flex;
    justify-content: center;
    transform: translateY(-300px);   
        
}
.mouseZone{
    height: 400px;
    width: 400px;
    display: inline-block;
    position: absolute;      
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    /* background-color: bisque; */
    transition: box-shadow 0.3s;
    transition: transform .3s;
    z-index: 0;
    
}
.artBorder{
    height: 400px;
    width: 400px;
    background-color: rgba(54, 113, 224, 0);
    display: inline-block;
    position: absolute;      
    border-radius: 50%;    
    overflow: hidden;
    /* box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.377); */ 
    z-index: 0;

}
.imageContainer{
    height: 400px;
    width: 400px;
    background-image: url(./2x2-b.jpg);
    display: inline-block;
    position: absolute;      
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    /* box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.377); */ 
    z-index: 0;
      
} 
.overlay{
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
}

.gamesButton{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #E5FAAA;    
    border-radius: 70px;
    top: 70px;
    left: 70px;
    z-index: 0;
}
.gamesButton:hover{
    background-color: #A1AD7F;
    height: 80px;
    width: 80px;
}
.gameText{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);    
    margin:auto;
    padding-left: 80px;
    width: 50px;
    height: 40px;
    z-index: 0;
}
.eduButton{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #E5FAAA;    
    border-radius: 70px;
    top: 70px;
    left: 70px;
    z-index: 0;
}
.eduText{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);    
    margin:auto;
    padding-left: 80px;
    width: 50px;
    height: 40px;
    z-index: 0;
}
.workButton{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #E5FAAA;    
    border-radius: 70px;
    top: 70px;
    left: 70px;
    z-index: 0;
}
.workText{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);    
    margin:auto;
    padding-left: 80px;
    width: 50px;
    height: 40px;
    z-index: 0;
}
.fa-solid{
    position: absolute;
    height: 25px;
    width: 24px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);    
    margin:auto;
    z-index: 0;
}
#checkbox01:not(checked) ~ label{
    height: 400px;
    width: 400px;
    display: flex;
    position: absolute;          
    border-radius: 50%;
    cursor: pointer;
    z-index: 0;
      
}


/* .mouseZone:hover{
    height: 600px;
    width: 600px;
    transition-duration: .5s;
}  */
/* .mouseZone:hover .imageContainer{
    height: 420px;
    width: 420px;
    box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.45);
    transform: translateY(-50%);
    transition-duration: .3s;
}  */
 
 input[type="checkbox"]:hover ~ label{
    
    background: radial-gradient(circle, rgba(0,0,0,0) 30%, rgba(0, 0, 0, 0.315) 100%);
    height: 400px;
    width: 400px;
} 

#checkbox01:checked ~ .imageContainer{
    height: 430px;
    width: 430px;
    box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.45);
    transform: translate(-15px, calc(-50vh + 250px));    
    transition-duration: .3s;    
}
#checkbox01:not(checked) ~ .imageContainer{
    top: 0px;
    left: 0px;
    transform: translate(0px, 0px);
    transition-duration: .3s;
}
#checkbox01:checked ~ label{
    margin: 0;    
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 200vh;
    width: 200vw;   
    top: -40vh;
    left: -100vw; 
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0);
    z-index: -2;

}
#checkbox01:checked ~ .artBorder{
    height: 90vh;
    min-width: 840px;    
    border-radius: 40px;
    transform: translate(-210px,0);
    background-color: #C5DAFB;
    display: inline-block;
    position: absolute;       
    overflow: hidden;
    transition-duration: .5s;
    /* box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.377); */ 
    z-index: 0;
}
#checkbox01:not(checked) ~ .artBorder{
    top: 0px;
    left: 0px;
    border-radius: 50%;    
    transform: translate(0px, 0px);
    transition-duration: .3s;
}
#checkbox01:checked ~ .gamesButton{    
    transform: translateY(180px);
    transition-duration: .3s;
    
}




