@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Robto', sans-serif;    
    font-weight: 600;
    font-size: 20pt;
    z-index: -2;
    overflow: hidden; 
    
}
#checkbox01:not(checked) ~ .firstName{
    color: #465b7c;
    display: flex;
    justify-content: center;
    top: 200px;
    transform: translate(180px,-300px);
    z-index: 0;   
        
}
#checkbox01:not(checked) ~ .surname{
    color: #465b7c;
    display: flex;
    justify-content: center;
    transform: translate(180px,-300px);
    z-index: 0;   
        
}
#checkbox01:not(checked) ~ .Name02{
    color: #465b7c;
    display: flex;
    justify-content: center;
    transform: translate(-177px,300px);
    z-index: 0;       
}
#checkbox01:checked ~ .firstName{
    color: #465b7c;
    display: flex;
    position: absolute; 
    top: 195px;   
    transform: translate(-180px, -125px);
    z-index: 1;
    transition-duration: .3s;        
}
#checkbox01:checked ~ .surname{
    color: #465b7c;
    display: flex;
    position: absolute; 
    top: 195px;   
    transform: translate(210px, -125px);
    z-index: 1;
    transition-duration: .3s;        
}    
#checkbox01:checked ~ .Name02{    
    display: flex;    
    transform: translate(-177px, 400px);
    z-index: 1;
    color: #768bad00;
    transition-duration: .3s;        
}    

.artBorder{
    height: 1500vh;
    width: 400px;
    background-color: rgba(54, 113, 224, 0);
    display: flex;    
    position: absolute;
    left: auto;
    right: auto;
    top: 200px;
    border-radius: 50%;    
    overflow: hidden;
    z-index: 0;
}
.imageContainer{
    height: 400px;
    width: 400px;
    background-image: url(./2x2-b.jpg);
    display: inline-block;
    position: absolute;      
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.45);
    z-index: 0;      
} 
#checkbox01:not(checked) ~ .gamesButton{
    display: flex;
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #ffffff;    
    border-radius: 70px;    
    z-index: 0;
}
#checkbox01:checked ~ .gamesButton{    
    display: flex;
    position: absolute; 
    top: 200px;   
    transform: translate(300px, 20px);
    transition-duration: .3s;
    z-index: 1;    
}
.gamesButton:hover{
    background-color: #000000;
    height: 80px;
    width: 80px;
}

/* .gameText{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);    
    margin:auto;
    padding-left: 80px;
    width: 50px;
    height: 40px;
    z-index: 0;
} */
#checkbox01:not(checked) ~ .tdButton{
    display: flex;
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #ffffff;    
    border-radius: 70px;    
    z-index: 0;
}
#checkbox01:checked ~ .tdButton{    
    display: flex;
    position: absolute; 
    top: 200px;   
    transform: translate(110px, 20px);
    transition-duration: .3s;
    z-index: 1;    
}
.tdButton:hover{
    background-color: #000000;
    height: 80px;
    width: 80px;
}
#checkbox01:not(checked) ~ .eduButton{
    display: flex;
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #ffffff;    
    border-radius: 70px;    
    z-index: 0;
}
#checkbox01:checked ~ .eduButton{    
    display: flex;
    position: absolute; 
    top: 200px;   
    transform: translate(-300px, 20px);
    transition-duration: .3s;
    z-index: 1;    
}
/* .eduText{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);    
    margin:auto;
    padding-left: 80px;
    width: 50px;
    height: 40px;
    z-index: 0;
} */
#checkbox01:not(checked) ~ .workButton{
    display: flex;
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #ffffff;    
    border-radius: 70px;    
    z-index: 0;
}
#checkbox01:checked ~ .workButton{    
    display: flex;
    position: absolute; 
    top: 200px;   
    transform: translate(-110px, 20px);
    transition-duration: .3s;
    z-index: 1;    
}
/* .workText{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);    
    margin:auto;
    padding-left: 80px;
    width: 50px;
    height: 40px;
    z-index: 0;
} */
.fa-briefcase{
    position: absolute;
    height: 25px;
    width: 24px;
    top: 23px;    
    left: 22px;
    color: #465b7c;   
    margin:auto;
    z-index: 0;
}
.fa-cubes{
    position: absolute;
    height: 25px;
    width: 24px;
    top: 23px;    
    left: 22px;
    color: #465b7c;   
    margin:auto;
    z-index: 0;
}
.fa-graduation-cap{
    position: absolute;
    height: 25px;
    width: 24px;
    top: 23px;    
    left: 19px;
    color: #465b7c;   
    margin:auto;
    z-index: 0;
}
.fa-unity{
    position: absolute;
    height: 25px;
    width: 19px;
    font-size: 24pt;
    top: 20px;    
    left: 20px;
    color: #465b7c;   
    margin:auto;
    z-index: 0;
}
#checkbox01:not(checked) ~ label{
    height: 400px;
    width: 400px;
    display: flex;
    position: absolute;          
    border-radius: 50%;
    cursor: pointer;
    z-index: 0;
      
}
 
input[type="checkbox"]:hover ~ label{
    
    background: radial-gradient(circle, rgba(0,0,0,0) 30%, rgba(0, 0, 0, 0.315) 100%);
    height: 400px;
    width: 400px;
} 
#checkbox01:checked ~ label{
    margin: 0;    
    display: flex;
    position: absolute;    
    height: 150vh;
    width: 150vw;    
    border-radius: 0%;
    background-color: rgba(170, 92, 180, 0);
    z-index: 0;

}
#checkbox01:checked ~ .imageContainer{
    height: 210px;
    width: 210px;
    box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.45);
    transform: translate(0px, calc(-50vh + 110px));    
    transition-duration: .3s;
    z-index: 1;    
}
#checkbox01:not(checked) ~ .imageContainer{
    position: absolute;
       
    transform: translate(0px, 0px);
    transition-duration: .3s;
}

#checkbox01:checked ~ .artBorder{
    height: 150vh;
    min-width: 840px;    
    border-radius: 40px;
    /* transform: translate(0,0); */
    background-color: #C5DAFB;
    display: flex;    
    position: absolute;
    left: auto;
    right: auto;
    top: 170px;       
    overflow: hidden;
    transition-duration: .5s;    
    /* box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.377); */ 
    z-index: 1;
}
#checkbox01:not(checked) ~ .artBorder{
    top: auto;
    left: auto;
    border-radius: 50%;    
    transform: translate(0px, 0px);
    transition-duration: .3s;
}
#checkbox01:checked ~ .artInset{
    height: 90vh;
    min-width: 710px;    
    border-radius: 40px;
    /* transform: translate(0,0); */
    background-color: #ffffff;
    display: flex;    
    position: absolute;
    left: auto;
    right: auto;
    top: 330px;       
    overflow: hidden;
    transition-duration: .5s;    
    /* box-shadow: 0 16px 20px -7px rgba(0, 0, 0, 0.377); */ 
    z-index: 1;
}
#checkbox01:not(checked) ~ .artInset{
    height: 410px;
    width: 410px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;    
    position: absolute;
    left: auto;
    right: auto;    
    border-radius: 50%;    
    border-radius: 50%;    
    transform: translate(0px, 0px);
    transition-duration: .3s;
}
#checkbox01:checked ~ .uCred{
    display: flex;    
    position: absolute;
    top: 200px;
    transform: translate(-172px, 200px);
    transition-duration: .3s;
    visibility: visible;
    z-index: 1;    
}
#checkbox01:not(checked) ~ .uCred{
    display: flex;    
    position: absolute;
    left: auto;
    top: auto;
    visibility: hidden;
    z-index: 0;    
}
#checkbox01:checked ~ .epicodeCred{
    display: flex;    
    position: absolute;
    top: 200px;
    transform: translate(115px, 200px);
    transition-duration: .3s;
    visibility: visible;
    max-height: 150px;
    max-width: 300px;    
    z-index: 1;    
}
#checkbox01:not(checked) ~ .epicodeCred{
    display: flex;    
    position: absolute;
    left: auto;
    right: auto;
    visibility: hidden;
    z-index: 0;    
}
#checkbox01:checked ~ .rLogo{
    display: block;    
    position: absolute;
    top: 200px;
    transform: translate(0px, 400px);
    transition-duration: .3s;
    visibility: visible;
    max-width: 600px;        
    z-index: 1;    
}
#checkbox01:not(checked) ~ .rLogo{
    display: block;    
    position: absolute;    
    visibility: hidden;
    z-index: 0;    
}
/* .eduList{
    display: block;
    position: absolute;
    z-index: 0;
    
} */






